@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  ==================================== COLOR VARIABLES ====================================    */

:root {
    --green1: #bdf290; 
    --green2: #cbf6A6;
    --green3: #d8f9Bb;
    --gray-bg: #e0e0e0;    /* Fond des barres/items */
    --green-piston: #A1DE64;
    /* Le vert de ton bouton Postuler */
    --bg-color: #F9F9F9;
    /* Le gris de tes blocs de recherche/info */
    --content-gray: #E9E9E9;
    /* Un gris légèrement plus foncé pour les titres et les bordures */
    --gray-dark: #D9D9D9;
    /* Un gris intermédiaire pour les barres de recherches */
    --text-color-light: #787878;
    --text-color: #333;
    --text-color-strong: #000000;
    --header-bg: #F2F2F2;
    --white: #FFFFFF;
    --green-piston-dark: #93ca5b;
    --deconnexion-color: var(--text-color);
}

/* ==================================== GLOBAL STYLE ==================================== */

body {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

main {
    flex: 1;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centre tout horizontalement */
}

h1{
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 20px;
    text-align: center;
}

h2{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 15px;
    text-align: center;
}



/* ==================================== HEADER FOOTER ==================================== */

header {
    width: 100%;
    height: 50px;
    background: var(--header-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Pour espacer le logo et la nav */
    padding: 5px 20px;
}

header a {
    font-size: 13px;
    color: var(--text-color-light);
    font-weight: 500;
}

header nav a.nav-link:hover {
    color: var(--text-color-strong);
    font-weight: 500;
}

.logo-group {
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1;
    /* la moitié gauche */
}

.logo-link {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    height: 100%;
}

header nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* espacement auto */
    flex: 1;
    /* la moitié droite */
    gap:20px;
}

header nav a.nav-link {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    /* pas de soulignement */
    color: inherit;
    /* pas de changement de couleur */
}

footer {
    font-size: 12px;
    width: 100%;
    height: auto;
    padding: 20px 0;
    background: var(--text-color);
    color: var(--white);
    display: flex;
    flex-direction: column;
    /* div verticales */
    align-items: center;
    justify-content: center;
    gap: 10px;
}

footer a {
    color: var(--white);
    text-decoration: none;
    margin: 0 10px;
    /* espacement entre les liens */
}

footer a:hover {
    text-decoration: underline;
    color: var(--green-piston);
}

/* ==================================== BUTTONS ==================================== */

.btn-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.btn {
    background-color: var(--green-piston);
    color: var(--white);
    padding: 10px 50px;
    margin: 10px auto 10px auto;
    border:none;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    background-color: var(--green-piston-dark);
    transform: scale(1.01);
    /* très leger zoom du bouton au survol */
}

.btn-connexion {
    text-decoration: none; /* pas de soulignement */
    border-radius: 20px;
    font-weight: 500;
    font-size: 13px;
    padding: 8px 20px;
}

.btn-deconnexion {
    text-decoration: none; /* pas de soulignement */
    border-radius: 20px;
    font-weight: 500;
    font-size: 13px;
    border-color: var(--deconnexion-color);
    border-width: 2px;
    border-style: solid;
    color: var(--deconnexion-color);
    background-color: transparent;
    padding: 6px 18px;/* padding réduit de 3px pour compenser la bordure */
}

.btn-deconnexion:hover {
    background-color: var(--deconnexion-color);
    color: var(--white);
    transform: scale(1.01); /* très leger zoom du bouton au survol */
}

.btn-annuler {
    text-decoration: none;
    background-color: #ccc;
    color: var(--white);
    padding: 7.5px 50px;
    margin: 10px auto 10px auto;
    border:none;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-annuler:hover {
    background-color: #bbb;
    color: var(--white);
    transform: scale(1.01); /* très leger zoom du bouton au survol */
}

.search-btn {
    background: transparent;
    border: none;
    outline: none;
    padding: 0 15px;
    cursor: pointer;
    font-size: 1.2rem;
}

.btn-action {
    border: none;
    border-radius: 8px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

.poubelle { background-color: #e11d48; }
.crayon { background-color: var(--green-piston); }
.btn-action i { color: white; } /* Icônes en blanc */

.etoile { background: none; font-size: 1.4rem; }
.etoile i { color: var(--text-color-light); }
.etoile.active i { color: #fbbf24; }

.btn-table{
    display: flex;
    justify-content: center;
    gap: 8px;
}

/* ==================================== MAIN SEARCH BAR ==================================== */

/* Global */
.search-section {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 15px;
    max-width: 1000px; /* Ou la largeur de ta barre de recherche */
    margin: 0 auto;   /* Centre le bloc formulaire sur la n */
    width: 100%;
}

.filters-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    width: 100%; /* Important pour que le 'gauche' soit le même que la barre */
}

.filter-item {
    background-color: var(--gray-dark);
    border: none;
    width:30%;
    border-radius: 10px;
    padding: 8px 15px;
    font-size: 0.9rem;
}

/* Search bar */

.search-bar-wrapper {
    display: flex;
    background-color: var(--gray-dark);
    border-radius: 10px;
    width: 100%;
    overflow: hidden;    /* Pour que les bords de l'input ne dépassent pas de l'arrondi */
    margin-bottom: 15px;
}

.search-bar-wrapper:focus-within {
    outline: 2px solid var(--green-piston); /* La bordure verte entoure TOUT le bloc gris */
    background-color: var(--white);
}

.search-input {
    flex: 1;    /* L'input prend toute la place restante */
    font-size: 1rem;
    border: none;
    background: transparent;
    padding: 12px 20px;
    outline: none;
}

.search-input:hover{
    background-color: var(--content-gray);
}

.search-input:focus{
    background-color: transparent; /* Force la transparence pour garder le gris du wrapper */
    outline: none;
}


.filter-item:hover {
    background-color: var(--content-gray);
}

/* ==================================== INFOS AREA (Accueil and boxes) ==================================== */

.info-grid {
    display: flex;
    width: 100%;
    justify-content: space-between; /* Espace les boîtes au maximum */
    gap: 30px; /* Définit l'espace précis entre les deux */
    margin-top: 20px;
}

.info-column{
    display: flex;
    flex-direction: column;
    width: 48%; /* Chaque colonne prend 48% de la largeur pour laisser un peu d'espace entre les deux */
}

.info-column2{
    display: flex;
    flex-direction: column;
    width: 67%; /* Chaque colonne prend 67% de la largeur pour laisser un peu d'espace entre les deux */
}

.info-column3{
    display: flex;
    flex-direction: column;
    width: 27%; /* Chaque colonne prend 27% de la largeur pour laisser un peu d'espace entre les deux */
}

.info-box {
    background-color: var(--content-gray);
    text-align: justify;
    border-radius: 25px;
    padding: 30px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.ib2{
    align-items: left !important;
    padding: 8px 25px;
}


/* ==================================== FORMS ==================================== */

label{
    display: block;
    margin-bottom: 10px;
    color: var(--text-color);
}

input, select, textarea, .frame {
    border: none;
    border-radius: 10px;
}

.form-input {
    background-color: var(--content-gray);
    padding: 12px 15px; /* Un peu plus d'espace interne */
    margin-bottom: 25px;
    width: 100%;
    box-sizing: border-box; /* Très important pour que le padding ne déforme pas la largeur */
    transition: all 0.2s ease;
}

.form-textarea {
    background-color: var(--content-gray);
    padding: 12px 15px; /* Un peu plus d'espace interne */
    margin-bottom: 25px;
    width: 100%;
    height: 150px; /* Hauteur fixe pour les textarea */
    box-sizing: border-box; /* Très important pour que le padding ne déforme pas la largeur */
}


input:focus, select:focus, textarea:focus {
    outline: 2px solid var(--green-piston);
    background-color: var(--white);
}

input:hover, select:hover, textarea:hover {
    background-color: var(--gray-dark);
    border:none;
}

.infos{
    text-align: center;
}

.label-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 12px;
}

.label-row label {
    margin-bottom: 10px;
}

.infos.infos-error {
    color: #c62828 !important;
    text-align: right;
    margin: 0 0 10px 0;
    font-size: 0.95rem;
    white-space: nowrap;
}

.form-test{
    background-color: var(--white);
    padding: 10px;
    margin: 20px auto;
    width: 80%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5px; /* Espace entre les champs du formulaire */
}

.frame{
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    padding: 30px;
    margin: 40px auto 50px auto;
    width: 60%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* Espace entre les champs du formulaire */
}

.frame2 {
    background-color: var(--white);
    border-radius: 10px;
    padding: 30px;
    width: 100% !important;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
}

.form-grid{
    display: flex;
    width: 100%;
    justify-content: space-between; /* Espace les boîtes au maximum */
    margin-top: 20px;
}

.form-column{
    display: flex;
    flex-direction: column;
    width: 45%; /* Chaque colonne prend 40% de la largeur pour laisser un peu d'espace entre les deux */
}

.form-column2{
    display: flex;
    flex-direction: column;
    width: 67%;
}


.form-column3{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.form-column100{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.skills-selector {
    font-size: 1rem;
}

.skills-list {
    background-color: var(--content-gray);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 25px;
    margin-top: 10px;
    max-height: 130px; 
    overflow-y: auto;  /* Ajoute le scroll vertical si besoin */
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: left; 
}

.skills-list label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 0.9rem;
}

.skills-list label:hover {
    background-color: var(--gray-dark);
    border-radius: 5px;
}


/* ==================================== OFFER DETAILS PAGE (+UPLOAD FILE) ==================================== */

.offer-header{
    background-color: var(--content-gray);
    display: flex;
    justify-content: space-between; /* Pousse les éléments aux extrémités */
    align-items: bottom;
    padding: 15px 15px 0;
    width: 100%;
    margin-bottom: 20px;
}

h1.offer, h2.offer{
    font-size: 1.5rem;
    text-align: left;
}


ul.skills
{
    list-style: none;
    margin-bottom: 20px;
}
ul.skills li
{
    font-size: 1rem;
    border: 1px solid var(--gray-dark);
    background-color: var(--content-gray);
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.infos-offre {
    display: flex;
    text-align: left;
    justify-content: space-between; /* Pousse les éléments aux extrémités */
    align-items: bottom;
    width: 100%;
    margin-bottom: 20px;
    line-height: 1.2em;
    font-weight: 600;
}


.input-file {
  display: none;
}

.file-label {
  background-color: transparent;
  color: var(--deconnexion-color) ;
  border-color: var(--deconnexion-color);
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  display: inline-block;
}

.file-label:hover {
  background-color: var(--deconnexion-color);
  color: var(--white);
  transform: scale(1.01); /* très leger zoom du bouton au survol */
}

.small-text{
    text-align :justify;
    font-size:1rem;
    margin:10px 5px;
}

.file-name{
    font-size: 0.9rem;
    color: var(--text-color-light);
    margin-bottom: 15px;
}

.file-name2{
    font-size: 0.9rem;
    color: var(--text-color-light);
    margin-bottom: 15px;
}


/* ==================================== DASHBOARDS ==================================== */

.main-title {
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 500;
}

.dashboards-section {
    width: 100%;
    margin-bottom: 40px;
    background-color: #E9E9E9;
    border-radius: 15px;
    padding: 20px;
}

.section-title {
    font-size: 1.1rem;
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
}

.search-bar-admin {
    display: flex;
    background-color: var(--gray-dark);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    align-items: center;
}

.search-bar-admin input {
    flex: 1;
    border: none;
    border-right: 1px solid #ccc;
    padding: 10px;
    background: transparent;
    font-family: inherit;
    outline: none;
}

.box-list {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espace entre les blocs */
}


.admin-item {
    width: 100%;
    background-color: #EDEDED;
    border-radius: 10px;
    border: none;
    border-collapse: collapse; /* Important pour garder l'arrondi */
    border-spacing: 0;
    overflow: hidden;
}

.admin-item td {
    border: none;
    padding: 20px 25px;
    vertical-align: middle;
}

.user-name {
    width:45%;
    font-size: 1.1rem;
    color: #666; /* Ajustez selon votre variable --text-color-light */
    text-align: left;
}

.user-promotion {
    width:10%;
    font-size: 1.1rem;
    color: #666; /* Ajustez selon votre variable --text-color-light */
    text-align: left;
}

.stats {
    width: 40%;
    text-align: right;
    font-size: 0.95rem;
    white-space: nowrap; /* Évite que le texte ne revienne à la ligne */
}

.dashboard-title {
    font-size: 1.4rem;
    color: #555;
    margin-bottom: 15px;
    text-align: left;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
}

table thead {
    font-size: 1.1rem;
}

/* ==================================== CONTENT LISTS ==================================== */

.table-container tbody tr:nth-child(even) {
    background-color: #e0e0e0;
}

/* 1. Mise en page du conteneur principal */
main.list-page {
    flex: 1;
    width: 90%;      /* Prend presque toute la largeur */
    margin: 20px auto;
    display: block;   /* Permet aux cartes de s'empiler et s'étirer */
}


.btn-add {
    background-color: var(--green-piston);
    color: white;
    padding: 6px 14px;
    margin: 10px;
    border-radius: 10px;
    font-size: 1.8rem;
    display: flex;
    border: none;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: var(--text-color);
}

.company-table {
    width: 100%;
    margin: 0 auto 20px auto; /* Centre le tableau et ajoute de l'espace en bas */
    border-collapse: collapse;
    background-color: #f0f0f0; /* Gris clair */
    border-radius: 12px;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05); /* Optionnel: petite ombre pour le relief */
}

.company-table td, .company-table th {
    padding: 12px 20px;
    text-align: left;
    border: none; /* On retire les bordures internes */
}

.company-name {
    width:80%;
    font-size: 1.3rem;
    color: var(--text-color-strong);
}

.offer-name{
    width:70%;
    font-size: 1.3rem;
    color: var(--text-color-strong);
}

.company-rating {
    text-align: right ! important;
    color: var(--text-color-light);
    width: 20%;
}

.offer-company{
    text-align: left ! important;
    color: var(--text-color-light);
    width: 25%;
}


.company-info {
    font-size: 0.9rem;
    color: var(--text-color-light);
    padding-top: 0 !important;
    font-style: italic;
}

.company-description {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text-color);
    padding-bottom: 20px !important;
}


/* ==================================== PAGINATION ==================================== */

.pagination {
    text-align: center;
    margin-top: 30px;
}

.pagination a {
    padding: 8px 12px;
    margin: 0 4px;
    text-decoration: none;
    border-radius: 4px;
    background: var(--white); 
    color: var(--deconnexion-color);
    transition: all 0.3s; /* Petit bonus pour la fluidité */
}

/* On cible la classe .active générée par Twig */
.pagination a.active {
    background: var(--green-piston);
    color: var(--white);
    font-weight: bold; /* Optionnel : pour mieux la voir */
}

/* On garde le hover pour les autres pages */
.pagination a:hover {
    background: var(--green-piston);
    color: var(--white);
}

/* Garder le style pour le tag strong si tu l'utilises ailleurs */
.pagination strong { 
    background: var(--green-piston); 
    color: var(--white); 
    padding: 8px 12px;
    margin: 0 4px;
    border-radius: 4px;
}

/*dozkdzk */

.h1-student{
    font-size: 1.8rem;
    margin-bottom: 10px;
    align-self: flex-start; /* Aligne le titre à gauche */
}

.h2-student{
    font-size: 1.1rem;
    text-align: left;
    margin-bottom: 0;
}

.h3-student{
    font-size: 1.3rem;
    margin-bottom: 20px;
    font-weight: 500;
}



/* ==================================== Responsive Design ==================================== */

/* --- 3. Responsive (STx 10) --- */
@media (max-width: 768px) {
    .filters-container{
        flex-direction: column;
    }
    .filter-item {
        width: 100%;
    }
    .info-grid {
        flex-direction: column; /* Sur mobile, elles se remettent l'une sous l'autre */
        align-items: center;
    }
    .info-column{
        width:100%
    }
    .info-box {
        width: 100%;
    }

    .frame{
        width:90% !important;
    }
    .form-grid {
        flex-direction: column; /* Sur mobile, elles se remettent l'une sous l'autre */
        align-items: center;
        gap: 0;
    }
    .form-column, 
    .form-column2, 
    .form-column3 {
        width: 100% !important; /* Le !important aide à écraser les 45% ou 67% */
    }
    .form-input{
        width: 100%;
    }
    .infos-offre{
        flex-direction:column;
        gap:5px;
    }
    .offer-header{
        justify-content: left;/* Aligne les éléments à gauche sur mobile */
        flex-direction:column;
        gap:5px;
    }

}

.container {
    overflow: hidden;
    /* Cache les éléments qui dépassent du container */
}
/* Définition du carousel */
.carousel {
    position: relative;
    /* Le carousel est positionné relativement à son parent */
}
/* Définition de l'élément contenant les diapositives */
.carousel-inner {
    display: flex;
    /* Affiche les éléments en ligne */
    overflow: hidden;
    /* Cache les éléments qui dépassent */
    height: 45vh;
    /* Hauteur égale à 100% de la hauteur de la vue */
    flex-wrap: nowrap;
    /* Empêche les éléments de se placer sur plusieurs lignes */
}
/* Définition des diapositives */
.slide {
    flex: 0 0 100%;
    /* Largeur de chaque diapositive est de 100% */
    height: 100%;
    /* Hauteur de chaque diapositive est de 100% */
    transition: .5s ease-in-out;
    /* Ajout d'une animation douce pour la transition entre les diapositives */
}

/* Style commun aux titres des slides */
.slide h3 {
    text-align: left;
    margin-bottom: 25px;
    font-size: 1.2rem;
    color: #333;
}

/* --- SLIDE 1: STATS GENERALES --- */
.stats-grid {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.stat-card {
    padding: 20px 10px;
    border-radius: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    min-height: 200px;
}

.stat-card.dark { background-color: #bdf290 !important; }
.stat-card.medium { background-color: #cbf6a6 !important; }
.stat-card.light { background-color: #d8f9bb !important; }

.stat-card strong {
    font-size: 2.2rem;
    display: block;
    margin-bottom: 20px;
}

.stat-card span {
    font-size: 0.9rem;
    line-height: 1.2;
    margin-top: 20px;
}

/* --- SLIDE 2: WISHLIST --- */
.wishlist-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wishlist-item {
    background-color: var(--gray-bg);
    padding: 15px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s;
}

.wishlist-item:hover {
    transform: translateX(5px);
    background-color: #d8d8d8;
}

.wishlist-item .count {
    font-weight: bold;
    border-left: 1px solid #bbb;
    padding-left: 15px;
}

/* --- SLIDE 3: DURÉE (GRAPHIQUE) --- */
.chart-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 10px;
}

.chart-row {
    display: flex;
    align-items: center;
}

.chart-row label {
    width: 100px;
    font-weight: bold;
    font-size: 0.9rem;
}

.bar-bg {
    flex-grow: 1;
    height: 60px;
    background-color: transparent; /* Fond transparent pour laisser voir le gris de la box */
    border-left: 1px solid #333; /* La ligne d'axe vertical */
}

.bar {
    height: 100%;
    border-radius: 0 5px 5px 0; /* Arrondi uniquement à droite */
}

.bar.dark { background-color: #bdf290 !important; }
.bar.medium { background-color: #cbf6a6 !important; }
.bar.light { background-color: #d8f9bb !important; }

/* Définition des boutons de contrôle du carousel */
.carousel-controls {
    position: absolute;
    /* Les boutons sont absolument positionnés */
    z-index: 5;
    /* Ils sont placés au-dessus des autres éléments */
    left: 5%;
    /* La distance à gauche est de 10% */
    right: 5%;
    /* La distance à droite est de 10% */
    bottom:5%;
    /* La distance du haut est de 50% */
    display: flex;
    /* Affiche les boutons en ligne */
    justify-content: space-between;
    /* Espacement égal entre les boutons */
}
/* Style des boutons de contrôle */
.carousel-controls button {
    padding: 10px;
    font-size: 1.5rem;    /* Ajout de padding pour un meilleur contrôle */
    background: none;
    border: none;
    /* Arrière-plan en aquamarine */
}
 .carousel-controls button:hover {
    background-color: var(--green-piston-dark);
    cursor: pointer;
    border-radius: 10px;
    /* Arrière-plan en aquamarine */
 }
/* Définition des points de contrôle */
.carousel-dots {
    position: absolute;
    /* Les points sont absolument positionnés */
    z-index: 5;
    /* Ils sont placés au-dessus des autres éléments */
    left: 50%;
    /* La distance à gauche est de 50% */
    right: 50%;
    /* La distance à droite est de 50% */
    bottom: 0%;
    /*La distance du bas est de 10% */
    display: flex;
    /* Affiche les points en ligne */
    justify-content: center;
    /* Centrage des points */
}
/* Style des points de contrôle */
.carousel-dots .dot {
    border-radius: 50%;
    /* Les points sont en forme de cercle */
    margin: 5px;
    /* Ajout d'un margin pour un meilleur contrôle */
    cursor: pointer;
    /* Curseur en forme de main pour un meilleur contrôle */
}
/* Styles pour les points de navigation du carrousel */
.carousel-dots .active {
    /* Border de 10px pour le point actif */
    border: 10px solid var(--green-piston-dark) !important;
    /* !important permet de surcharger les autres styles éventuels */
}
.carousel-dots .inactive {
    /* Border de 10px pour les points inactifs */
    border: 10px solid var(--white) !important;
}