{# 
    Ce template Twig définit la structure principale d'une page de ThePiston. Il va définir le header et footer commun aux pages.
    Il utilise l'héritage de template pour réutiliser un layout de base défini dans "base.twig.html".
    Il va définir le header et footer commun aux pages.
#}

{% extends "base.twig.html" %}

{% block body %}

<header>
    <div class="logo-group">
        <a href="/" class="logo-link">
            <img src="/assets/images/icon.png" alt="Icon" class="logo">
            <img src="/assets/images/text.png" alt="The Piston" class="logo">
        </a>
    </div>

    <nav>
        <a href="/?uri=dashboard" class="nav-link">Mon espace</a>
        <a href="/?uri=offres" class="nav-link">Les offres</a>
        <a href="/?uri=entreprises" class="nav-link">Les entreprises</a>

        <div class="btn-container">
            <a href="/?uri=login" class="btn btn-connexion">
                Connexion
            </a>

            <a href="/" class="btn btn-deconnexion">
                Déconnexion
            </a>
        </div>
    </nav>
</header>

{% block hero %}{% endblock %}

<main class="{% block main_class %}{% endblock %}">
    {% block content %}
    
    {% endblock %}
</main>

<footer>
    <div>
        <a href="cgu.php">CGU</a>
        <a href="contact.php">Contact</a>
        <a href="legal.php">Mentions légales</a>
        <a href="privacy.php">Politique de confidentialité</a>
        <a href="terms.php">Conditions d'utilisation</a>
    </div>

    <div>
        <p>&copy; 2026 ThePiston. Tous droits réservés.</p>
    </div>
</footer>
    
{% endblock %}