{% extends "base.html.twig" %}

{% block title %}ThePiston - Titre de l'offre{% endblock %}

{% block content %}
<main>
    <section class="offer-container">
        <div class="offer-header">
            <h1 class="offer">Alternance- Mastere Developpement de Systemes d'Information Banque et Assurance LBP/CGI bla bla blablabla bla bla H/F</h1>
            <h2 class="offer">La Banque Postale</h2>
        </div>

        <div class="form-grid">
            <div class="form-column2">
                <div class="frame2">
                    <div class="infos-offre">
                        <p>Date de publication : 26/02/2026</p>
                        <p>Nombre de candidature : 12</p>
                    </div>

                    <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel sapien eget nunc efficitur bibendum. Sed at ligula a nunc efficitur bibendum. Sed at ligula a nunc efficitur bibendum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel sapien eget nunc efficitur bibendum. Sed at ligula a nunc efficitur bibendum. Sed at ligula a nunc efficitur bibendum.</p>

                    <div>
                        <h2 style="margin-top: 20px;">Competences requises</h2>
                        <ul class="skills">
                            <li>Competence 1</li>
                            <li>Competence 2</li>
                            <li>Competence 3</li>
                            <li>Competence 4</li>
                        </ul>
                    </div>

                    <div>
                        <h2>Remuneration</h2>
                        <p>1euro/mois</p>
                    </div>
                </div>
            </div>

            <div class="form-column3">
                <div class="frame2">
                    <div class="btn-container">
                        <button class="btn" type="button" id="postuler-btn">Postuler</button>
                    </div>
                    <div id="zone-depot" hidden>
                        <form class="form-test" action="/upload.php" method="POST" enctype="multipart/form-data">
                            <p class="small-text">Pour postuler a cette offre, vous devez deposer votre CV ainsi qu'une lettre de motivation.</p>
                            <div>
                                <label for="cv" class="file-label">Deposer votre CV ici (pdf)</label>
                                <input id="cv" name="cv" class="input-file" type="file" accept=".pdf" required>
                            </div>
                            <span class="file-name">Aucun fichier choisi</span>
                            <div>
                                <label for="lettre" class="file-label">Deposer votre lettre de motivation ici (pdf)</label>
                                <input type="file" id="lettre" class="input-file" name="lettre" accept=".pdf" required>
                            </div>
                            <span class="file-name2">Aucun fichier choisi</span>
                            <button class="btn" type="submit" id="valider">Valider</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block scripts %}
<script src="/assets/js/zone-depot.js"></script>
{% endblock %}
