{% extends "base.html.twig" %}

{% block title %}Test - ThePiston{% endblock %}

{% block content %}
<main>
    <h1>Page de test</h1>
    <p>Cette page est la version Twig de test.php.</p>
</main>
{% endblock %}
