{% extends "base.html.twig" %}

{% block title %}Acces refuse - ThePiston{% endblock %}

{% block content %}
<section class="dashboards-section">
    <h1 class="main-title">Acces refuse</h1>
    <p>Vous n'avez pas les droits necessaires pour acceder a cette page.</p>
    <br>
    <a href="/" class="btn add-link">Retour à l'accueil</a>
</section>
{% endblock %}
