{% extends "base.html.twig" %}

{% block title %}{{ pageType | capitalize }} - ThePiston{% endblock %}
{% block main_class %}list-page{% endblock %}

{% block content %}
<section class="frame legal-frame">
    <h2>{{ content.title }}</h2>
    <div class="page-content legal-content">
        {{ content.body | raw }}
    </div>
</section>
{% endblock %}
