<header>
    <div class="logo-group">
        <a href="/" class="logo-link">
            <img src="/assets/images/icon.png" alt="Icon" class="logo">
            <img src="/assets/images/text.png" alt="The Piston" class="logo">
        </a>
    </div>

    <nav>
        <a href="#" class="nav-link">Mon espace</a>
        <a href="#" class="nav-link">Les offres</a>
        <a href="#" class="nav-link">Les entreprises</a>
        
        <div class="btn-container">
            <a href="/login" class="btn btn-connexion">
                Connexion
            </a>

            <a href="/logout" class="btn btn-deconnexion">
                Déconnexion
            </a>
        </div>
    </nav>
</header>
